@font-face {
  font-family: 'helvetica medium';
  src: url("../assets/fonts/HelveticaNeueMed.ttf");
}

@font-face {
  font-family: 'helvetica bold';
  src: url("../assets/fonts/HelveticaNeueCondBold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #313131;
  --bold-font: "helvetica bold", Arial, sans-serif;
  --medium-font: "helvetica medium", Arial, sans-serif;
  --light-grey:#f5f5f5;
  --grey:#b9b9b9;
  --white: #fff;
}

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
i,
ul,
li,
article,
aside,
details,
figure,
header,
nav,
section{
  border: 0;
  margin: 0;
  padding: 0;
}

h2 {
  display: none;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}


.main {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0 2em 2em;
}

.logo {
  font-family: var(--bold-font);
  font-size: 18px;
  font-weight: 800;
  color: var(--black);
}

.btm-list {
  font-family: var(--bold-font);
  font-size: 12px;
  font-weight: 700;
  color: var(--black);
}

.btm-list-item {
  padding: 8px 0;
}

.btm-list-item:hover {
  color: var(--grey);
  cursor: pointer;
}

.top-list {
  font-family: var(--medium-font);
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}

.top-list-item {
  padding: 10px 0;
}

.top-list-item:hover {
  color: var(--grey);
  cursor: pointer;
}

.menu {
  font-family: var(--medium-font);
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}

.menu:hover {
  color: var(--grey);
  cursor: pointer;
}

.fa-bars {
  margin-right: 10px;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1.5em;
  position: relative;
  text-align: right;
}

.icons {
  font-family: var(--medium-font);
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-between;
  margin-top: 2em;
}

.icons span {
  display: inline-block;
}

.icons span:hover {
  color: var(--grey);
  cursor: pointer;
}

.icons span:last-child {
  background-color: var(--black);
  border-radius: 50%;
  color: var(--white);
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  text-align: center;
  width: 40px;
}

.fa-search {
  margin-right: 10px;
}

.fa-user {
  margin-right: 10px;
}

.hr-list {
  font-family: var(--bold-font);
  font-size: 12px;
  font-weight: 800;
  color: var(--black);
  display: flex;
  height: 25%;
  justify-content: flex-end;
  margin-bottom: auto;
  margin-right: 10px;
  margin-top: 80%;
}

.hr-num {
  width: 50%;
  display: flex;
  margin-top: 10px;
}

.hr-items {
  border: solid 1px var(--black);
  margin-left: auto;
  margin-top: 15px;
  width: 5px;
}

.hr-items:first-child {
  display: inline-block;
  width: 10px;
}

.scroll {
  font-family: var(--bold-font);
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
  align-self: end;
  bottom: 60px;
  position: absolute;
  right: 1em;
  transform: rotate(90deg);
}

.header {
  display: none;
}

.tall-img {
  background-color: var(--light-grey);
  background-image: url("../assets/images/home-tall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: span 2;
}

.short-img {
  background-color: var(--light-grey);
  background-image: url("../assets/images/home-short2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  min-height: 200px;
}

.home-title {
  font-family: var(--bold-font);
  font-size: 18px;
  font-weight: 800;
  color: var(--black);
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.home-title h1 {
  padding-top: 10px;
}

.home-title h1:first-child {
  padding-top: 50px;
}

.shop-now {
  font-family: var(--medium-font);
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  display: inline-block;
  margin-bottom: 20px;
  margin-top: auto;
}

.shop-now:hover {
  color: var(--grey);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header {
    font-family: var(--bold-font);
    font-size: 18px;
    font-weight: 800;
    color: var(--black);
    align-items: center;
    display: flex;
    margin: 0 2em;
  }

  .header p {
    display: block;
    overflow: hidden;
    width: 5em;
  }

  .header p:last-child {
    margin-left: auto;
    text-align: end;
    width: 1em;
  }

  .main {
    position: relative;
    grid-template-columns: 1fr;
  }

  .home-title {
    background-color: var(--white);
    bottom: 0;
    height: 40%;
    position: absolute;
    right: 0;
    width: 45%;
    z-index: 1;
  }

  .short-img {
    display: none;
  }
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 1fr;
    display: grid;   
    height: 100vh;
    width: 100vw;
  }

  .nav {
    display: none;
  }

   .aside {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home-title {
    height: 30%;
    width: 100%;
  }
}
