* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

h2 {
  display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
  grid-template-columns: 15% 1fr 15%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 1024px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
  }

  .container .nav {
    display: none;
  }

  .container .aside {
    display: none;
  }
}

.main {
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 7vh 1fr;
    grid-template-rows: 7vh 1fr;
  }

  .main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@font-face {
  font-family: 'helvetica medium';
  src: url("../assets/fonts/HelveticaNeueMed.ttf");
}

@font-face {
  font-family: 'helvetica bold';
  src: url("../assets/fonts/HelveticaNeueCondBold.ttf");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em 0 2em 2em;
}

.logo {
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #313131;
}

.btm-list {
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #313131;
}

.btm-list-item {
  padding: 8px 0;
}

.btm-list-item:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.top-list {
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #313131;
}

.top-list-item {
  padding: 10px 0;
}

.top-list-item:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.menu {
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #313131;
}

.menu:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.fa-bars {
  margin-right: 10px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 1.5em;
  position: relative;
  text-align: right;
}

.icons {
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 20%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2em;
}

.icons span {
  display: inline-block;
}

.icons span:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.icons span:last-child {
  background-color: #313131;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  text-align: center;
  width: 40px;
}

.fa-search {
  margin-right: 10px;
}

.fa-user {
  margin-right: 10px;
}

.hr-list {
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: auto;
  margin-right: 10px;
  margin-top: 80%;
}

.hr-num {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.hr-items {
  border: solid 1px #313131;
  margin-left: auto;
  margin-top: 15px;
  width: 5px;
}

.hr-items:first-child {
  display: inline-block;
  width: 10px;
}

.scroll {
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #313131;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  bottom: 60px;
  position: absolute;
  right: 1em;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header {
  display: none;
}

.tall-img {
  background-color: #f5f5f5;
  background-image: url("../assets/images/home-tall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: span 2;
}

.short-img {
  background-color: #f5f5f5;
  background-image: url("../assets/images/home-short2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  min-height: 200px;
}

.home-title {
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 50px;
}

.home-title p {
  padding-top: 10px;
}

.home-title p:first-child {
  padding-top: 50px;
}

.shop-now {
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #313131;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: auto;
}

.shop-now:hover {
  color: #b9b9b9;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header {
    font-family: "helvetica bold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #313131;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2em;
  }

  .header p {
    display: block;
    overflow: hidden;
    width: 5em;
  }

  .header p:last-child {
    margin-left: auto;
    text-align: end;
    width: 1em;
  }

  .main {
    position: relative;
  }

  .home-title {
    background-color: #fff;
    bottom: 0;
    height: 40%;
    position: absolute;
    right: 0;
    width: 45%;
    z-index: 1;
  }

  .short-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home-title {
    height: 30%;
    width: 100%;
  }
}
