.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 1fr;
}

@media screen and (max-width:1024px){
  .container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;

  .nav {
    display: none;
  }
  .aside {
    display: none;
  }
}

}