@import './variables', './mixins';

@font-face {
  font-family: 'helvetica medium';
  src: url('../../assets/fonts/HelveticaNeueMed.ttf');
}

@font-face {
  font-family: 'helvetica bold';
  src: url('../../assets/fonts/HelveticaNeueCondBold.ttf');
}

@font-face {
  font-family: 'helvetica regular';
  src: url('../../assets/fonts/HelveticaNeueReg.ttf');
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0 2em 2em;
}

.logo {
  @include my-font(bold, 18px, 800);
}

.btm-list {
  @include my-font(bold, 12px, 700);
}

.btm-list-item {
  @include hover;

  padding: 8px 0;
}

.top-list {
  @include my-font(medium, 14px, 700);
}

.top-list-item {
  @include hover;

  padding: 10px 0;
}

.menu {
  @include my-font(medium, 14px, 700);
  @include hover;
}

.fa-bars {
  margin-right: 10px;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1.5em;
  position: relative;
  text-align: right;
}

.icons {
  @include my-font(medium, 14px, 500);

  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-between;
  margin-top: 2em;

  span {
    @include hover;

    display: inline-block;

    &:last-child {
      background-color: $black;
      border-radius: 50%;
      color: $white;
      height: 40px;
      line-height: 40px;
      margin-left: 20px;
      text-align: center;
      width: 40px;
    }
  }
}

.fa-search {
  margin-right: 10px;
}

.fa-user {
  margin-right: 10px;
}

.hr-list {
  @include my-font(bold, 12px, 800);

  display: flex;
  height: 25%;
  justify-content: flex-end;
  margin-bottom: auto;
  margin-right: 10px;
  margin-top: 80%;
}

.hr-num {
  // border: 1px solid red;
  width: 50%;
  display: flex;
  margin-top: 10px;
}

.hr-items {
  border: solid 1px $black;
  margin-left: auto;
  margin-top: 15px;
  width: 5px;

  &:first-child {
    display: inline-block;
    width: 10px;
  }
}

.scroll {
  @include my-font(bold, 12px, 500);

  align-self: end;
  bottom: 60px;
  position: absolute;
  right: 1em;
  transform: rotate(90deg);
}
