@import './variables';

@mixin bg-img($url, $size: 100%) {
  background: {
    color: $light-grey;
    image: $url;
    position: center;
    repeat: no-repeat;
    size: $size;
  }
}

@mixin my-font($bold-or-medium, $size, $weight) {
  color: $black;
  font-family: 'helvetica #{$bold-or-medium}', Arial, sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin hover {
  &:hover {
    color: $grey;
    cursor: pointer;
  }
}
