@import '../base/reset';
@import '../layout/grid', '../layout/category-grid';
@import '../utilities/variables', '../utilities/mixins';
@import '../utilities/components';


.header {
  display: flex;
  align-items: center;
  .logo {
    @include my-font(bold, 18px, 800);
    display: inline-block;
    margin-left: 1em;
  }
  
  .icon-bars {
    color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: 1em;
  }
}

.cat {
  @include my-font(medium, 14px, 500);

  min-height: 300px;
  min-width: 200px; 
  position: relative;
  .link {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .top-left {
    @include my-font(medium, 12px, 500);
   position: absolute;
   top: 7%;
   left: 7%;
  }
  .btm-left {
    @include my-font(bold, 14px, 700);
    position: absolute;
    bottom: 7%;
    left: 7%;
  }
  .btm-right {
    @include my-font(bold, 14px, 700);
    position: absolute;
    bottom: 7%;
    right: 7%;
  }
}

.cat1 {
  @include bg-img(url('../../assets/images/cat1.png'), 50%);
}

.cat2 {
  @include bg-img(url('../../assets/images/cat2.png'), 50%);
}

.cat3 {
  @include bg-img(url('../../assets/images/cat3.png'), 50%);
}

.cat4 {
  @include bg-img(url('../../assets/images/cat10.png'), 50%);
}

.cat5 {
  @include bg-img(url('../../assets/images/cat8.png'), 50%);
}

.cat6 {
  @include bg-img(url('../../assets/images/cat9.png'), 50%);
}

@media (max-width:1024px){
  .fa-bars {
    color: black;
  }
}