/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
      grid-template-columns: 15% 1fr 15%;
  height: 100vh;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% 1fr;
      grid-template-rows: 30% 1fr;
  grid-gap: 3px;
}

.main .top-figs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}

.main .btm-figs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 1fr;
      grid-template-columns: 33% 1fr;
  grid-gap: 3px;
}

.main .btm-figs .item-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 15% 1fr 14%;
      grid-template-rows: 20% 15% 1fr 14%;
  grid-gap: 3px;
}

.main .btm-figs .item-details article:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  grid-gap: 3px;
}

.main .btm-figs .item-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 85% 1fr;
      grid-template-rows: 85% 1fr;
}

.main .btm-figs .item-img article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr 1fr;
      grid-template-columns: 70% 1fr 1fr;
}

.main .top-figs .cat1 {
  background-image: url("../../images/cat4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.main .top-figs .cat2 {
  background-image: url("../../images/cat5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.main .top-figs .cat3 {
  background-image: url("../../images/cat4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.main .top-figs .cat4 {
  background-image: url("../../images/cat6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.main .btm-figs .item-details article {
  background-color: #F5F5F5;
}

.main .btm-figs .item-details article:last-child {
  background-color: #FFFFFF;
}

.main .btm-figs .item-details article:last-child div {
  background-color: #F5F5F5;
}

.main .btm-figs .item-img {
  background-color: #FFFFFF;
}

.main .btm-figs .item-img .cat5 {
  background-image: url("../../images/cat6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.main .btm-figs .item-img article {
  background-color: #FFFFFF;
}

.main .btm-figs .item-img article div:first-child {
  background-color: #F5F5F5;
}

.cat {
  background-color: #F5F5F5;
}
/*# sourceMappingURL=product.css.map */