@import '../base/reset';
@import '../layout/grid', '../layout/product-grid';
@import '../utilities/variables', '../utilities/mixins', '../utilities/components';

.header {
  display: none;
}

.aside {
  .aside-back {
    @include my-font(medium, 14px, 700);
    @include hover;

    margin-bottom: auto;
    margin-top: 80%;
  }
}

.cat1 {
  @include bg-img(url('../../assets/images/cat4.png'), 80%);
}

.cat2 {
  @include bg-img(url('../../assets/images/cat5.png'), 80%);
}

.cat3 {
  @include bg-img(url('../../assets/images/cat4.png'), 80%);
}

.cat4 {
  @include bg-img(url('../../assets/images/cat6.png'), 80%);
}

.cat5 {
  @include bg-img(url('../../assets/images/cat6.png'), 80%);

  position: relative;

  span {
    @include my-font(medium, 14px, 500);

    position: absolute;
    right: 2em;
    top: 1.5em;
  }
}

.item-img {
  text-align: center;

  .img-num {
    @include my-font(bold, 14px, 500);

    background-color: $light-grey;
    padding-top: 2em;
  }

  .prev {
    @include my-font(bold, 14px, 500);

    align-self: center;
  }

  .next {
    @include my-font(bold, 14px, 500);

    align-self: center;
  }
}

.item-details {
  article {
    background-color: $light-grey;

    &:last-child {
      background-color: $white;

      div {
        background-color: $light-grey;
      }
    }
  }
}

.details-title {
  display: flex;
}

.price {
  @include my-font(bold, 14px, 700);

  margin: auto 0.8em;
  margin-left: auto;
}

.details-list {
  @include my-font(bold, 14px, 700);

  align-items: center;
  color: $grey;
  display: flex;
  height: 100%;
  text-align: center;

  li {
    display: inline-block;
    flex: 1;

    &:nth-child(4) {
      color: $black;
    }
  }
}

.title-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1em;

  span {
    &:first-child {
      @include my-font(bold, 14px, 700);
    }

    &:last-child {
      @include my-font(medium, 12px, 100);

      color: $grey;
    }
  }
}

.details-article {
  overflow: hidden;
}

.details {
  @include my-font(bold, 14px, 700);

  display: inline-block;
  margin-top: 1em;
  padding-left: 1em;
}

.details-para {
  @include my-font(medium, 12px, 100);

  color: $grey;
  padding: 1em 2em 0 1em;
}

.details-icon {
  @include hover;

  align-items: center;
  display: flex;
  justify-content: center;
}

.details-cart {
  @include my-font(bold, 14px, 700);
  @include hover;

  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .header {
    align-items: center;
    display: flex;

    .logo {
      @include my-font(bold, 18px, 800);

      display: inline-block;
      margin-left: 1em;
    }

    .icon-bars {
      display: inline-block;
      margin-left: auto;
      margin-right: 1em;
    }
  }
}
