* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

h2 {
  display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
  grid-template-columns: 15% 1fr 15%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 1024px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
  }

  .container .nav {
    display: none;
  }

  .container .aside {
    display: none;
  }
}

.header {
  display: none;
}

.main {
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-rows: 30% 1fr;
  grid-template-rows: 30% 1fr;
}

.main .top-figs {
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}

.main .btm-figs {
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-columns: 33% 1fr;
  grid-template-columns: 33% 1fr;
}

.main .btm-figs .item-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 85% 1fr;
  grid-template-rows: 85% 1fr;
}

.main .btm-figs .item-img article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr 1fr;
  grid-template-columns: 70% 1fr 1fr;
}

.main .btm-figs .item-details {
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-rows: 20% 15% 1fr 14%;
  grid-template-rows: 20% 15% 1fr 14%;
}

.main .btm-figs .item-details article:last-child {
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-columns: 20% 1fr;
  grid-template-columns: 20% 1fr;
}

@media screen and (max-width: 1024px) {
  .container {
    -ms-grid-rows: 8vh 1fr;
    grid-template-rows: 8vh 1fr;
  }

  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-columns: 35% 1fr;
    grid-template-columns: 35% 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .main .top-figs {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr) [4];
    grid-template-rows: repeat(4, 1fr);
  }

  .main .btm-figs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 50% 1fr;
    grid-template-rows: 50% 1fr;
  }

  .main .btm-figs .item-img {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .main .btm-figs .item-img article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main .btm-figs .item-img .prev {
    display: none;
  }

  .main .btm-figs .item-img .next {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .main .top-figs {
    display: none;
  }
}

@font-face {
  font-family: 'helvetica medium';
  src: url("../../assets/fonts/HelveticaNeueMed.ttf");
}

@font-face {
  font-family: 'helvetica bold';
  src: url("../../assets/fonts/HelveticaNeueCondBold.ttf");
}

@font-face {
  font-family: 'helvetica regular';
  src: url("../../assets/fonts/HelveticaNeueReg.ttf");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em 0 2em 2em;
}

.nav .logo {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.nav .top-list {
  color: #313131;
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.nav .top-list li {
  padding: 10px 0;
}

.nav .top-list li:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.nav .menu {
  color: #313131;
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.nav .menu:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.nav .menu .fa-bars {
  margin-right: 10px;
}

.nav .btm-list {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.nav .btm-list li {
  padding: 8px 0;
}

.nav .btm-list li:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 1.5em;
  position: relative;
  text-align: right;
}

.aside div span {
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 22.5px;
  margin-top: 5px;
  text-align: center;
}

.aside div:first-child {
  width: 100%;
}

.aside div:last-child {
  margin-left: 20px;
}

.aside .icons {
  color: #313131;
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 20%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2em;
}

.aside .icons span {
  display: inline-block;
}

.aside .icons span:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.aside .icons span:last-child {
  background-color: #313131;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  text-align: center;
  width: 40px;
}

.aside .icons .fa-search {
  margin-right: 10px;
}

.aside .icons .fa-user {
  margin-right: 10px;
}

.aside .hr-list {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: auto;
  margin-right: 10px;
  margin-top: 80%;
}

.aside hr {
  border: solid 1px #313131;
  margin-left: auto;
  margin-top: 15px;
  width: 5px;
}

.aside hr:first-child {
  display: inline-block;
  width: 10px;
}

.aside .scroll {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  bottom: 60px;
  position: absolute;
  right: 1em;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header {
  display: none;
}

.aside .aside-back {
  color: #313131;
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: auto;
  margin-top: 80%;
}

.aside .aside-back:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.cat1 {
  background-color: #f5f5f5;
  background-image: url("../../assets/images/cat4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.cat2 {
  background-color: #f5f5f5;
  background-image: url("../../assets/images/cat5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.cat3 {
  background-color: #f5f5f5;
  background-image: url("../../assets/images/cat4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.cat4 {
  background-color: #f5f5f5;
  background-image: url("../../assets/images/cat6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.cat5 {
  background-color: #f5f5f5;
  background-image: url("../../assets/images/cat6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
}

.cat5 span {
  color: #313131;
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  right: 2em;
  top: 1.5em;
}

.item-img {
  text-align: center;
}

.item-img .img-num {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #f5f5f5;
  padding-top: 2em;
}

.item-img .prev {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.item-img .next {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.item-details article {
  background-color: #f5f5f5;
}

.item-details article:last-child {
  background-color: #fff;
}

.item-details article:last-child div {
  background-color: #f5f5f5;
}

.details-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: auto 0.8em;
  margin-left: auto;
}

.details-list {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-align: center;
}

.details-list li {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.details-list li:nth-child(4) {
  color: #313131;
}

.title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 1em;
}

.title-div span:first-child {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.title-div span:last-child {
  color: #313131;
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #b9b9b9;
}

.details-article {
  overflow: hidden;
}

.details {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-top: 1em;
  padding-left: 1em;
}

.details-para {
  color: #313131;
  font-family: "helvetica medium", Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #b9b9b9;
  padding: 1em 2em 0 1em;
}

.details-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.details-icon:hover {
  color: #b9b9b9;
  cursor: pointer;
}

.details-cart {
  color: #313131;
  font-family: "helvetica bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.details-cart:hover {
  color: #b9b9b9;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .logo {
    color: #313131;
    font-family: "helvetica bold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    display: inline-block;
    margin-left: 1em;
  }

  .header .icon-bars {
    display: inline-block;
    margin-left: auto;
    margin-right: 1em;
  }
}
